# Binary files
pagerank
hits

# Object files
*.o

# Results
*.pr
*.hits
*.csv

# Output folders
PR_*/
HITS_*/

# Compilation database output files
compile_commands.json
.cache/

# Data files
data/*

# Except for the following ones
!src/
!data/.gitkeep
